<footer class="bg-zinc-900 text-white">
  <div class="container py-10 text-center">
    <div class="flex gap-3 justify-center items-center">
      <span class="text-blue-500 text-4xl  font-bold">FCAI</span>
      <div class=" social-link">
        <a href="#" style="--bgColor:#475993">
          <fa-icon [icon]="faFacebookF"></fa-icon>
        </a>
        <a href="#" style="--bgColor:#76a9ea">
          <fa-icon [icon]="faTwitter"></fa-icon>
        </a>
        <a href="#" style="--bgColor:#f61c0d">
          <fa-icon [icon]="faYoutube"></fa-icon>
        </a>

      </div>
    </div>
    <div class="font-semibold capitalize ">
      copyright &copy; <span id="copy-year"> {{year}}</span> <span class="uppercase"> FCAI.</span> All
      Rights
      Reserved.
    </div>
  </div>
</footer>